@font-face {
    font-family: grumpyFont;
    src: url("../fonts/GenBasB.ttf");
}

html {
    height: 100%;
}

body {
    background-color: #8a214a;
    color: white;
    margin: 0px;
}

.grumpyCat {
    margin-left: -15px;
    position: absolute;
    left: 0px;
    top:0px;
    height: 100%;
}

.grumpyCat > img {
    height: 100%;
}

.message h1{
    text-align: center;
    font-family: grumpyFont;
    text-transform: uppercase;
    font-size: 120px;
}

#errorCode {
    margin-top: 350px;
    margin-bottom: 0px;
}

#grump{
    margin-top: 30px;
}

#errorCode,
#grump {
    text-shadow: 2px 2px #000000;
}